<div class="form-group">
  <label for="title">Title</label>
  <input name="title" class="form-control" placeholder="Pickup Basketball" value="{{lobby.title}}" />
</div>
<div class="form-group">
  <label for="desc">Description</label>
  <textarea name="desc" class="form-control" placeholder="A description of your event.">{{lobby.desc}}</textarea>
</div>
<div class="form-group">
  <label for="link">Voice call link</label>
  <input name="link" class="form-control" placeholder="" value="{{lobby.link}}"/>
  <small id="linkHelp" class="form-text text-muted">Add a link to a discord server, Zoom meeting, or add a way for people to contact you.</small>
</div>


{{!-- <div class="form-group">
  <label for="status">Lobby Status</label>
  <select name="status" id="status">
    <option value="open">Open</option>
    <option value="closed">Closed</option>
  </select>
</div> --}}