<div class="form-group">
  <label for="title">Title</label>
  <input name="title" class="form-control" placeholder="Pickup Basketball" value="{{lobby.title}}" />
</div>
<div class="form-group">
  <label for="desc">Description</label>
  <textarea name="desc" class="form-control" placeholder="A description of your event.">{{lobby.desc}}</textarea>
</div>
<div class="form-group">
  <label for="link">Image Url</label>
  <input name="link" class="form-control" placeholder="" value="{{lobby.link}}"/>
</div>
<div class="form-group">
  <label for="status">Lobby Status</label>
  <select name="status" id="status">
    <option value="open">Open</option>
    <option value="closed">Closed</option>
  </select>
</div>