<div class="form-group">
  <label for="eamil">Email</label>
  <input name="email" class="form-control" placeholder="Email" type="email" />
</div>
<div class="form-group">
  <label for="password">Password</label>
  <input name="password" class="form-control" type="password" />
</div>
