<form method="POST" action="/lobby">
  <fieldset>
    <legend>New Lobby</legend>
    <!-- TITLE -->
    <p>
      <label for="title">Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">Description</label><br>
      <input type="text" name="desc" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save</button>
  </p>

</form>